<%- include('header') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <section>
        <ul class="form">
            <li><label for="">用户名：</label><input type="text" class='M'></li>
            <li><label for="">密码：</label><input type="text" class='M'></li>
            <li><button class='Btn M'>登录</button></li>
        </ul>
    </section>

<%- include('footer') %>

