<%- include('header') %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <section>
        <form method="post">
        <ul class="form">
            <li><label for="">用户名：</label><input type="text" name='name' class='M'></li>
            <li><label for="">密码：</label><input type="text" name='password' class='M'></li>
            <li><label for="">确认密码：</label><input type="text" class='M'></li>
            <li><button type="submit" class='Btn M'>注册</button></li>
        </ul>
        </form>
    </section>

<%- include('footer') %>

